/* --- 外枠の定義 ---------------------------------------------*/
.boxContainer {
    background-color: #99cc00;
    overflow: hidden;
}
.box{
    float: left;
  }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
  
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
  
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

h1 { font-size: 16px; }
.form_wrap { padding: 10px; }
.errors {
    width: 300px;
    font-size: 12px;
    color: #e95353;
    border: 1px solid #e95353;
    background-color: #f2dede;
}
.complete {
    padding-left: 10px;
    width: 290px;
    font-size: 12px;
    color: #2a88bd;
    border: 1px solid #2a88bd;
    background-color: #a6e1ec;
}
.modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin: auto;
    pointer-events: none;
}


.modal-content {
  pointer-events: all;
}
.modal_footer{
  display: inline-block;
}